

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #c5e4ff;
  
}

.container{
  background-color: white;
  padding: 90px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 22px -13px rgba(8,8,8,1);
  -moz-box-shadow: 0px 0px 22px -13px rgba(8,8,8,1);
  box-shadow: 0px 0px 22px -13px rgba(8,8,8,1);
}

.container h1{
  margin: 0;
}

.container__input{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__input input{
  height: 30px;
  width: 220px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

li input{
  width: 50%;
}

button{
  padding: 8px;
  border: none;
  background-color: #4a91e2d7;

  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition:  0.2s;
  width: 120px;
}

button:hover{
  background-color: #3f72add7;
}

input{
  padding-left: 3px;
}
